.service-container {
  display: flex;
  justify-content: center;
}

.service-forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service-forms input, select, button, textarea {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.service-forms textarea {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25rem;
  height: 10rem;
  text-align: left;
  padding: 1rem;
}

.service-forms input {
  height: 2rem;
  color: black;
  font-weight: bold;
  width: 25rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-forms select, option {
  height: 2rem;
  color: black;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-title {
  text-align: center;
}

.service-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.service-item label {
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
.service-errors {
  margin-bottom: 1rem;
  color: black;
  text-align: center;
}

.api-errors {
  padding-top: 1.5rem;
  color: #f69e7b;
  font-size: 20px;
  font-weight: bold;
}