.spinner {
  border: 4px solid rgb(207, 207, 207);
  border-left-color: #8FD974;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}