.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
    min-height: calc(100vh - 230px);
    padding: 15px;
    background-color: white;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.search-bar > form {
    margin-right: 15px;
}

.page-title {
    padding: 15px;
}

@media screen and (max-width: 1200px) {
    .container {
        display: block;
        width: 100%;
    }

    .search-bar {
        display: block;
    }
}
