.footerItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #394141;
    color: white;
    text-align: center;
    height: 150px;
}

.social-medias {
    display: flex;
}

.social-medias > p {
    margin-top: 1rem;
}

.social-medias > i {
    margin: 10px;
    cursor: pointer;
}

.social-medias .fa-facebook-square {
    font-size: 30px;
}

.social-medias .fa-instagram-square {
    font-size: 30px;
}
