.search-form {
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: white;
    height: 10.5rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-form .title {
    font-weight: 900;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bbb;
}

.search-form .input {
    width: 100%;
    margin-top: 0.5rem;
}

.search-form .errors {
    display: flex;
    color:#B8001C;
    font-weight: bold;
    font-size: 11px;
}

.search-form button {
    height: 30px;
    margin: 0;
    margin-top: 0.5rem;
}