.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252, 100%));
  margin: 2rem auto auto auto;
  padding: 3rem;
  width: 50%;
  min-width: 14rem;
}

.login-form input {
  height: 50px;
  margin: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  min-width: 12rem;
  border: none;
}

.login-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}

.login-title h1 {
  margin-left: 15px;
  justify-self: start;
  cursor: pointer;
}

.fa-sign-in-alt {
  font-size: 35px;
}

.login-errors {
  margin-bottom: 1rem;
  color: white;
}

.api-errors {
  padding-top: 1.5rem;
  color: #f69e7b;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 960px) {

  .login-form {
    padding: 1rem;
    width: 100%;
    margin: 0.5rem;
  }
  .login-title {
    display: inline-block;
  }

  .login-title h1 {
    font-size: 15px;
  }
  
}